################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Trove/CopilotIndices/18.7.1238.64283
/.vs/Trove.slnx
/.vs
/BBR-Install/.vs
